html, body {
/*  display: flex;*/
/*  align-items: center;*/
/*background-color: black;*/
/*  justify-content: center;*/
  height: 100%;
/*    color: brown;*/
/*  margin: 0px;*/
/*  padding: 0px;*/
  

  font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(Savin-NY-Website-Background-Web-1.jpg);
}

/*
.name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}
*/

.info-text{
    border: 8px;
/*    border-color: brown;*/
    border-spacing: inherit;
}

.left, .right {
  background-color: lightblue;
  
  margin: 5px;
  max-width: 50%;
/*  flex: 1;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
}

.left {
  align-items: left;
  justify-content: left;
}

.container{
     margin: auto;
    width: auto;   
}

.profile-picture {
/*    float: left;*/

    border-radius: 50%;
    align-content: center;
    margin: auto;
    width: 200px;

    border: 3px solid white;
}

.social-links {
   align-content: center;
    width: 100%;
    margin: auto;
    display: block;
}

.info-text{
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    
}
/*
.social-links li {
  display: inline-block;
  margin-right: 8px;
}
*/

/*
.social-links a {
  text-decoration: none;
  padding: 4px;
}

.social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
*/

.body {
  background: linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgba(170, 221, 235, 1) 100%);
}